@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-box: 0rem;
  /* --btn-color: black; */
  --fallback-bc: white;
  --rounded-btn: 0rem;
}

:root .prose {
  --tw-prose-counters: black;
}

body {
  background-color: black;
  /* color: white; */
}

.main {
  /* width: 100vw;
  height: 100vh; */
}

.btn-disabled {
  @apply !opacity-50;
  @apply !btn-outline; 
  @apply !text-black;
  @apply !bg-white; 
  
}

.progress-text {
  mix-blend-mode: difference;
}